@import url(../css/bootstrap.min.css);
@font-face {
  font-family: "Bookinsanity";
  src: local("Bookinsanity Remake"), local("Bookinsanity"), url("../../fonts/Bookinsanity/Bookinsanity.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bookinsanity";
  src: local("Bookinsanity Remake Bold Italic"), local("Bookinsanity Bold Italic"), url("../../fonts/Bookinsanity/Bookinsanity Bold Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Bookinsanity";
  src: local("Bookinsanity Remake Bold"), local("Bookinsanity Bold"), url("../../fonts/Bookinsanity/Bookinsanity Bold.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bookinsanity";
  src: local("Bookinsanity Remake Italic"), local("Bookinsanity Italic"), url("../../fonts/Bookinsanity/Bookinsanity Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Mr Eaves Caps";
  src: local("Mr Eaves SC Remake"), local("Mr Eaves SC"), url("../../fonts/Mr Eaves/Mr Eaves Small Caps.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Mr%20Eaves/Mr%20Eaves%20Small%20Caps.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: local("Scaly Sans Remake"), local("Scaly Sans"), url("../../fonts/Scaly Sans/Scaly Sans.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: local("Scaly Sans Remake Bold Italic"), local("Scaly Sans Bold Italic"), url("../../fonts/Scaly Sans/Scaly Sans Bold Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Scaly Sans";
  src: local("Scaly Sans Remake Bold"), local("Scaly Sans Bold"), url("../../fonts/Scaly Sans/Scaly Sans Bold.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: local("Scaly Sans Remake Italic"), local("Scaly Sans Italic"), url("../../fonts/Scaly Sans/Scaly Sans Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: local("Scaly Sans Caps"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: local("Scaly Sans Caps Bold Italic"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: local("Scaly Sans Caps Bold"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: local("Scaly Sans Caps Italic"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
:root {
  font-size: 16px;
}

body {
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  background-color: #fcf9f2;
  font-family: "Scaly Sans", arial, helvetica, sans-serif;
  height: 100vh;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, th, menu, input[type=submit] {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  font-family: inherit;
}

button, input[type=submit] {
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  border-width: 0;
  border-style: unset;
  border-color: unset;
  border-image: unset;
  background-color: unset;
}

.tooltip {
  --bs-tooltip-font-size: 0.75rem;
  --bs-tooltip-color: black;
  --bs-tooltip-bg: #bac37f;
  --bs-tooltip-border-radius: .15rem;
  font-family: "Bookinsanity", arial, helvetica, sans-serif;
}
.tooltip .tooltip-inner {
  text-align: left;
}

table {
  border-spacing: 0;
}

svg {
  height: 100%;
  width: fit-content;
}

.hidden {
  display: none;
}

#everything {
  display: flex;
  height: 100%;
}
#everything header {
  font-size: 1.3rem;
  height: 1.7em;
  display: flex;
  align-items: center;
  font-family: "Scaly Sans Caps", "Scaly Sans", arial, helvetica, sans-serif;
  color: #58170D;
  border-bottom: #dfcea1 solid 0.08rem;
}
#everything header h1 {
  width: max-content;
  font-size: inherit;
  padding: 0 1.2em;
  line-height: 1.6em;
  cursor: pointer;
}
#everything header .selected {
  border-bottom: #CBAF68 solid 0.15rem;
  font-weight: bold;
}
#everything #side-panel {
  width: 25%;
  height: 100%;
  background-color: #f4ecd8;
  border-right: #dfcea1 solid 0.08rem;
}
#everything #side-panel header {
  justify-content: left;
  background-color: #FAF6EC;
}
#everything #side-panel form {
  padding: 1.2em;
}
#everything #side-panel form > div {
  margin-bottom: 0.4em;
}
#everything #side-panel form select, #everything #side-panel form input {
  font-family: unset;
}
#everything #side-panel form input[type=checkbox i] {
  cursor: pointer;
}
#everything #side-panel form button, #everything #side-panel form input[type=submit] {
  padding: 0.375em 0.75em;
  border-radius: 0.2rem;
  height: 1.5;
  background-color: #bac37f;
  color: white;
  font-size: inherit;
  line-height: 1.5;
}
#everything #side-panel form input[type=submit] {
  margin-top: 0.8em;
}
#everything #side-panel form select {
  cursor: pointer;
  border: #CBAF68 solid 0.1rem;
  border-color: #CBAF68;
  border-radius: 0.2rem;
  height: 2em;
  background-color: #fcf9f2;
  color: black;
  font-size: 1rem;
  line-height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='31.806px' height='17.917px' viewBox='0 0 31.806 17.917' enable-background='new 0 0 31.806 17.917' xml:space='preserve'><path fill='currentColor' d='M31.292,3.084l-14.417,14.43c-0.148,0.148-0.301,0.252-0.458,0.312c-0.158,0.061-0.329,0.091-0.514,0.091 s-0.356-0.03-0.514-0.09c-0.157-0.06-0.31-0.164-0.458-0.312L0.5,3.084C0.167,2.75,0,2.329,0,1.82s0.171-0.935,0.514-1.278 C0.875,0.181,1.301,0,1.792,0C2.283,0,2.709,0.181,3.07,0.542l12.833,12.833L28.736,0.542c0.352-0.352,0.775-0.523,1.271-0.514 c0.495,0.009,0.914,0.185,1.257,0.528c0.361,0.361,0.542,0.787,0.542,1.278C31.806,2.324,31.634,2.741,31.292,3.084z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 0.5em);
  background-position-y: center;
  background-size: 0.6em;
  padding-right: 1.6em;
  padding-left: 0.5em;
  text-align: right;
}
#everything #side-panel form label {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  padding-right: 0.3em;
  line-height: 1.7em;
}
#everything #side-panel form label div {
  position: relative;
}
#everything #side-panel form label div .tooltip {
  display: none;
}
#everything #side-panel form label div svg {
  display: block;
}
#everything #side-panel form label[for=date-input] {
  margin-bottom: 0.4em;
}
#everything #side-panel form input[type=checkbox] + label {
  cursor: pointer;
}
#everything #side-panel form #date-input-div {
  box-sizing: content-box;
  width: -webkit-fill-available;
  border: #CBAF68 solid 0.1rem;
  border-color: #CBAF68;
  border-radius: 0.2rem;
  height: 2em;
  background-color: #fcf9f2;
  color: black;
  font-size: 1rem;
  line-height: 2em;
  display: inline-flex;
  align-items: center;
}
#everything #side-panel form #date-input-div #date-input {
  width: 100%;
  text-align: center;
  padding: 0;
  border: none;
  border-left: #CBAF68 solid 0.1rem;
  border-right: #CBAF68 solid 0.1rem;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
}
#everything #side-panel form #date-input-div .svg-div {
  height: 2em;
  width: 2em;
  padding: 0;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0;
}
#everything #side-panel form #date-input-div svg {
  vertical-align: top;
  fill: #CBAF68;
}
#everything #side-panel form #date-input-div #today {
  background-color: #CBAF68;
  color: white;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2em;
}
#everything #side-panel form #terrain {
  text-align: left;
}
#everything #side-panel form .indented {
  margin-left: 2em;
}
#everything #main {
  margin: 1.5em;
  width: 75%;
}
#everything #main header {
  background: none;
  border: none;
  font-size: 1.2rem;
  margin: 0.5rem;
  margin-top: 0;
  justify-content: space-between;
}
#everything #main header nav {
  display: flex;
}
#everything #main header menu {
  font-family: "Scaly Sans", arial, helvetica, sans-serif;
  display: flex;
  gap: 2em;
}
#everything #main header menu li {
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 1.2em;
  padding: 0.3em;
  gap: 0.3em;
  border: #CBAF68 solid 0.1rem;
  border-radius: 0.2rem;
}
#everything #main header menu li h2 {
  width: max-content;
  font-size: inherit;
}
#everything #main header menu .img-only {
  height: 1.7em;
  padding: 0;
  border: none;
}
#everything #main #ingredient-bag {
  height: calc(100% - 2.2em);
  overflow-y: scroll;
  font-size: 1.2rem;
}
#everything #main #ingredient-bag table {
  font-size: 1rem;
  margin: auto;
  width: -webkit-fill-available;
  text-align: left;
}
#everything #main #ingredient-bag table td, #everything #main #ingredient-bag table th {
  vertical-align: baseline;
  max-width: 30em;
  padding: 0.5em;
}
#everything #main #ingredient-bag table thead {
  position: sticky;
  top: 0;
  background-color: #fcf9f2;
  text-wrap: nowrap;
}
#everything #main #ingredient-bag table thead th {
  cursor: pointer;
}
#everything #main #ingredient-bag table thead th div {
  padding-right: 1.3em;
  position: relative;
}
#everything #main #ingredient-bag table thead th svg {
  position: absolute;
  height: 0.4em;
  visibility: visible;
  transform: translate(0%, -50%);
  top: 50%;
  right: 0;
}
#everything #main #ingredient-bag table thead .unsorted svg {
  visibility: hidden;
}
#everything #main #ingredient-bag table thead .descending svg {
  transform: rotate(180deg) translate(0%, 50%);
}
#everything #main #ingredient-bag table .number-hd {
  text-align: center;
}
#everything #main #ingredient-bag table .number-td {
  text-align: center;
  padding-right: 1.8em;
}

/*# sourceMappingURL=style.css.map */
