@font-face {
  font-family: "Bookinsanity";
  src: local("Bookinsanity Remake"), local("Bookinsanity"), url("../../fonts/Bookinsanity/Bookinsanity.woff2") format("woff2"), url("../../fonts/Bookinsanity/Bookinsanity.woff") format("woff"), url("../../fonts/Bookinsanity/Bookinsanity.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bookinsanity";
  src: local("Bookinsanity Remake Bold Italic"), local("Bookinsanity Bold Italic"), url("../../fonts/Bookinsanity/Bookinsanity Bold Italic.woff2") format("woff2"), url("../../fonts/Bookinsanity/Bookinsanity Bold Italic.woff") format("woff"), url("../../fonts/Bookinsanity/Bookinsanity Bold Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Bookinsanity";
  src: local("Bookinsanity Remake Bold"), local("Bookinsanity Bold"), url("../../fonts/Bookinsanity/Bookinsanity Bold.woff2") format("woff2"), url("../../fonts/Bookinsanity/Bookinsanity Bold.woff") format("woff"), url("../../fonts/Bookinsanity/Bookinsanity Bold.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bookinsanity";
  src: local("Bookinsanity Remake Italic"), local("Bookinsanity Italic"), url("../../fonts/Bookinsanity/Bookinsanity Italic.woff2") format("woff2"), url("../../fonts/Bookinsanity/Bookinsanity Italic.woff") format("woff"), url("../../fonts/Bookinsanity/Bookinsanity Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Mr Eaves Caps";
  src: local("Mr Eaves SC Remake"), local("Mr Eaves SC"), url("../../fonts/Mr Eaves/Mr Eaves Small Caps.woff2") format("woff2"), url("../../fonts/Mr Eaves/Mr Eaves Small Caps.woff") format("woff"), url("../../fonts/Mr Eaves/Mr Eaves Small Caps.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Mr%20Eaves/Mr%20Eaves%20Small%20Caps.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: local("Scaly Sans Remake"), local("Scaly Sans"), url("../../fonts/Scaly Sans/Scaly Sans.woff2") format("woff2"), url("../../fonts/Scaly Sans/Scaly Sans.woff") format("woff"), url("../../fonts/Scaly Sans/Scaly Sans.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: local("Scaly Sans Remake Bold Italic"), local("Scaly Sans Bold Italic"), url("../../fonts/Scaly Sans/Scaly Sans Bold Italic.woff2") format("woff2"), url("../../fonts/Scaly Sans/Scaly Sans Bold Italic.woff") format("woff"), url("../../fonts/Scaly Sans/Scaly Sans Bold Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Scaly Sans";
  src: local("Scaly Sans Remake Bold"), local("Scaly Sans Bold"), url("../../fonts/Scaly Sans/Scaly Sans Bold.woff2") format("woff2"), url("../../fonts/Scaly Sans/Scaly Sans Bold.woff") format("woff"), url("../../fonts/Scaly Sans/Scaly Sans Bold.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: local("Scaly Sans Remake Italic"), local("Scaly Sans Italic"), url("../../fonts/Scaly Sans/Scaly Sans Italic.woff2") format("woff2"), url("../../fonts/Scaly Sans/Scaly Sans Italic.woff") format("woff"), url("../../fonts/Scaly Sans/Scaly Sans Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: local("Scaly Sans Caps"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps.woff2") format("woff2"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps.woff") format("woff"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: local("Scaly Sans Caps Bold Italic"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold Italic.woff2") format("woff2"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold Italic.woff") format("woff"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: local("Scaly Sans Caps Bold"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold.woff2") format("woff2"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold.woff") format("woff"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: local("Scaly Sans Caps Italic"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Italic.woff2") format("woff2"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Italic.woff") format("woff"), url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Italic.otf") format("opentype"), url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.1875em;
  color: var(--bs-highlight-color);
  background-color: var(--bs-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

.tooltip {
  --bs-tooltip-zindex: 1080;
  --bs-tooltip-max-width: 200px;
  --bs-tooltip-padding-x: 0.5rem;
  --bs-tooltip-padding-y: 0.25rem;
  --bs-tooltip-margin: ;
  --bs-tooltip-font-size: 0.875rem;
  --bs-tooltip-color: var(--bs-body-bg);
  --bs-tooltip-bg: var(--bs-emphasis-color);
  --bs-tooltip-border-radius: var(--bs-border-radius);
  --bs-tooltip-opacity: 0.9;
  --bs-tooltip-arrow-width: 0.8rem;
  --bs-tooltip-arrow-height: 0.4rem;
  z-index: var(--bs-tooltip-zindex);
  display: block;
  margin: var(--bs-tooltip-margin);
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  white-space: normal;
  word-spacing: normal;
  line-break: auto;
  font-size: var(--bs-tooltip-font-size);
  word-wrap: break-word;
  opacity: 0;
}
.tooltip.show {
  opacity: var(--bs-tooltip-opacity);
}
.tooltip .tooltip-arrow {
  display: block;
  width: var(--bs-tooltip-arrow-width);
  height: var(--bs-tooltip-arrow-height);
}
.tooltip .tooltip-arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
  bottom: calc(-1 * var(--bs-tooltip-arrow-height));
}
.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  top: -1px;
  border-width: var(--bs-tooltip-arrow-height) calc(var(--bs-tooltip-arrow-width) * 0.5) 0;
  border-top-color: var(--bs-tooltip-bg);
}

/* rtl:begin:ignore */
.bs-tooltip-end .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
  left: calc(-1 * var(--bs-tooltip-arrow-height));
  width: var(--bs-tooltip-arrow-height);
  height: var(--bs-tooltip-arrow-width);
}
.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  right: -1px;
  border-width: calc(var(--bs-tooltip-arrow-width) * 0.5) var(--bs-tooltip-arrow-height) calc(var(--bs-tooltip-arrow-width) * 0.5) 0;
  border-right-color: var(--bs-tooltip-bg);
}

/* rtl:end:ignore */
.bs-tooltip-bottom .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow {
  top: calc(-1 * var(--bs-tooltip-arrow-height));
}
.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  bottom: -1px;
  border-width: 0 calc(var(--bs-tooltip-arrow-width) * 0.5) var(--bs-tooltip-arrow-height);
  border-bottom-color: var(--bs-tooltip-bg);
}

/* rtl:begin:ignore */
.bs-tooltip-start .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
  right: calc(-1 * var(--bs-tooltip-arrow-height));
  width: var(--bs-tooltip-arrow-height);
  height: var(--bs-tooltip-arrow-width);
}
.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  left: -1px;
  border-width: calc(var(--bs-tooltip-arrow-width) * 0.5) 0 calc(var(--bs-tooltip-arrow-width) * 0.5) var(--bs-tooltip-arrow-height);
  border-left-color: var(--bs-tooltip-bg);
}

/* rtl:end:ignore */
.tooltip-inner {
  max-width: var(--bs-tooltip-max-width);
  padding: var(--bs-tooltip-padding-y) var(--bs-tooltip-padding-x);
  color: var(--bs-tooltip-color);
  text-align: center;
  background-color: var(--bs-tooltip-bg);
  border-radius: var(--bs-tooltip-border-radius);
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-reverse {
  padding-right: 1.5em;
  padding-left: 0;
  text-align: right;
}
.form-check-reverse .form-check-input {
  float: right;
  margin-right: -1.5em;
  margin-left: 0;
}

.form-check-input {
  --bs-form-check-bg: var(--bs-body-bg);
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  appearance: none;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--bs-border-width) solid var(--bs-border-color);
  print-color-adjust: exact;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  cursor: default;
  opacity: 0.5;
}

.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  width: 2em;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-switch .form-check-input {
    transition: none;
  }
}
.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
  background-position: right center;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-switch.form-check-reverse {
  padding-right: 2.5em;
  padding-left: 0;
}
.form-switch.form-check-reverse .form-check-input {
  margin-right: -2.5em;
  margin-left: 0;
}

.form-check-inline {
  display: inline-block;
  margin-right: 1rem;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check[disabled] + .btn, .btn-check:disabled + .btn {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}

[data-bs-theme=dark] .form-switch .form-check-input:not(:checked):not(:focus) {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e");
}

:root {
  font-size: 16px;
}

body {
  font-weight: normal;
  font-style: normal;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  background-color: #fcf9f2;
  font-family: "Scaly Sans", arial, helvetica, sans-serif;
  height: 100vh;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, th, menu, input[type=submit], label {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  font-family: inherit;
}

button, input[type=submit] {
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  border-width: 0;
  border-style: unset;
  border-color: unset;
  border-image: unset;
  background-color: unset;
}

.tooltip {
  font-size: 0.75rem;
  --bs-tooltip-padding-x: 0.5rem;
  --bs-tooltip-padding-y: 0.25rem;
  --bs-tooltip-color: black;
  --bs-tooltip-bg: #d2d9ae;
  --bs-tooltip-border-radius: .15rem;
  font-family: "Bookinsanity", arial, helvetica, sans-serif;
  line-height: 1.35em;
}
.tooltip .tooltip-inner {
  text-align: left;
}

table {
  border-spacing: 0;
}

svg {
  height: 100%;
  width: fit-content;
}

.hidden {
  display: none;
}

input[type=checkbox] {
  width: 1em;
  height: 1em;
  vertical-align: top;
  appearance: none;
  background-color: #fcf9f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: #dfcea1 solid 0.1rem;
  border-radius: 0.15rem;
  cursor: pointer;
}
input[type=checkbox]:focus {
  border-color: #CBAF68;
  outline: 0;
  box-shadow: 0 0 0.08em 0.12rem rgba(203, 175, 104, 0.568627451);
  z-index: 1;
}
input[type=checkbox]:hover {
  border-color: #CBAF68;
  z-index: 1;
}
input[type=checkbox]:active {
  filter: brightness(95%);
}
input[type=checkbox]:checked {
  background-color: #CBAF68;
  border-color: #CBAF68;
  background-image: url("data:image/svg+xml;utf8,%3csvg width='8' height='9' viewBox='0 0 8 9' fill='%23fcf9f2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.45923 2.04036C7.71307 2.2942 7.71307 2.70575 7.45923 2.95959L3.45923 6.9596C3.20539 7.21344 2.79383 7.21344 2.53999 6.9596L0.53999 4.95959C0.286149 4.70575 0.286149 4.2942 0.53999 4.04036C0.793831 3.78652 1.20539 3.78652 1.45923 4.04036L2.99961 5.58074L6.53999 2.04036C6.79383 1.78652 7.20539 1.78652 7.45923 2.04036Z'/%3e%3c/svg%3e");
}

#everything {
  display: flex;
  height: 100%;
}
#everything header {
  font-size: 1.3rem;
  height: 1.7em;
  display: flex;
  align-items: center;
  font-family: "Scaly Sans Caps", "Scaly Sans", arial, helvetica, sans-serif;
  color: #58170D;
  border-bottom: #dfcea1 solid 0.08rem;
}
#everything header .menu-item {
  width: max-content;
  font-size: inherit;
  line-height: 1.6em;
  height: 100%;
  cursor: pointer;
  position: relative;
}
#everything header .menu-item h1 {
  font-size: inherit;
  font-weight: inherit;
  width: max-content;
}
#everything header .menu-item .hidden {
  display: unset;
  opacity: 0;
  padding: 0 1.2em;
}
#everything header .menu-item .shown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#everything header .menu-item .menu-decoration {
  transition: border-color 0s, border-width 0.1s ease-in-out;
  border-color: #CBAF68;
  width: 100%;
  position: absolute;
  bottom: -0.08rem;
}
@media (prefers-reduced-motion: reduce) {
  #everything header .menu-item .menu-decoration {
    transition: none;
  }
}
#everything header .selected {
  font-weight: bold;
}
#everything header .selected .menu-decoration {
  border-bottom: #CBAF68 solid 0.15rem;
}
#everything header .menu-item:hover .menu-decoration {
  border-bottom: #CBAF68 solid 0.2rem;
}
#everything #side-panel {
  width: 23rem;
  min-width: 20rem;
  height: 100%;
  background-color: #f4ecd8;
  border-right: #dfcea1 solid 0.08rem;
}
#everything #side-panel header {
  justify-content: left;
  background-color: #FAF6EC;
}
#everything #side-panel .side-panel-main {
  overflow: scroll;
  height: calc(100vh - 2.21rem);
}
#everything #side-panel form {
  padding: 1.2em;
}
#everything #side-panel form > div {
  margin-bottom: 0.4em;
}
#everything #side-panel form input[type=submit] {
  padding: 0.375em 0.75em;
  border-radius: 0.2rem;
  height: 1.5em;
  background-color: #bac37f;
  color: white;
  font-size: inherit;
  line-height: 1.5em;
  height: unset;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #everything #side-panel form input[type=submit] {
    transition: none;
  }
}
#everything #side-panel form input[type=submit]:active {
  filter: brightness(95%);
}
#everything #side-panel form input[type=submit]:hover {
  background-color: #a7b072;
}
#everything #side-panel form input[type=submit] {
  margin-top: 0.8em;
}
#everything #side-panel form select {
  cursor: pointer;
  border: #dfcea1 solid 0.1rem;
  border-radius: 0.2rem;
  height: 2em;
  background-color: #fcf9f2;
  color: black;
  font-size: 1rem;
  line-height: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='31.806px' height='17.917px' viewBox='0 0 31.806 17.917' enable-background='new 0 0 31.806 17.917' xml:space='preserve'><path fill='currentColor' d='M31.292,3.084l-14.417,14.43c-0.148,0.148-0.301,0.252-0.458,0.312c-0.158,0.061-0.329,0.091-0.514,0.091 s-0.356-0.03-0.514-0.09c-0.157-0.06-0.31-0.164-0.458-0.312L0.5,3.084C0.167,2.75,0,2.329,0,1.82s0.171-0.935,0.514-1.278 C0.875,0.181,1.301,0,1.792,0C2.283,0,2.709,0.181,3.07,0.542l12.833,12.833L28.736,0.542c0.352-0.352,0.775-0.523,1.271-0.514 c0.495,0.009,0.914,0.185,1.257,0.528c0.361,0.361,0.542,0.787,0.542,1.278C31.806,2.324,31.634,2.741,31.292,3.084z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 0.5em);
  background-position-y: center;
  background-size: 0.6em;
  padding-right: 1.6em;
  padding-left: 0.5em;
  text-align: right;
}
#everything #side-panel form select:focus {
  border-color: #CBAF68;
  outline: 0;
  box-shadow: 0 0 0.08em 0.12rem rgba(203, 175, 104, 0.568627451);
  z-index: 1;
}
#everything #side-panel form select:hover {
  border-color: #CBAF68;
  z-index: 1;
}
#everything #side-panel form label {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  padding-right: 0.3em;
  line-height: 1.7em;
}
#everything #side-panel form label div {
  position: relative;
}
#everything #side-panel form label div svg {
  display: block;
}
#everything #side-panel form label[for=date-input] {
  margin-bottom: 0.4em;
}
#everything #side-panel form input[type=checkbox] + label {
  cursor: pointer;
}
#everything #side-panel form input[type=checkbox] {
  margin-top: 0.35em;
}
#everything #side-panel form #date-input-div {
  box-sizing: content-box;
  width: -webkit-fill-available;
  display: inline-flex;
  align-items: center;
}
#everything #side-panel form #date-input-div #date-input {
  border: #dfcea1 solid 0.1rem;
  border-radius: 0.2rem;
  height: 2em;
  background-color: #fcf9f2;
  color: black;
  font-size: 1rem;
  line-height: 2em;
  width: 100%;
  text-align: center;
  margin-left: -0.08rem;
  font-family: inherit;
  border-radius: 0;
}
#everything #side-panel form #date-input-div #date-input:focus {
  border-color: #CBAF68;
  outline: 0;
  box-shadow: 0 0 0.08em 0.12rem rgba(203, 175, 104, 0.568627451);
  z-index: 1;
}
#everything #side-panel form #date-input-div #date-input:hover {
  border-color: #CBAF68;
  z-index: 1;
}
#everything #side-panel form #date-input-div .svg-div {
  border: #dfcea1 solid 0.1rem;
  border-radius: 0.2rem;
  height: 2em;
  background-color: #fcf9f2;
  color: black;
  font-size: 1rem;
  line-height: 2em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 2em;
  position: relative;
  cursor: pointer;
}
#everything #side-panel form #date-input-div .svg-div:focus {
  border-color: #CBAF68;
  outline: 0;
  box-shadow: 0 0 0.08em 0.12rem rgba(203, 175, 104, 0.568627451);
  z-index: 1;
}
#everything #side-panel form #date-input-div .svg-div:hover {
  border-color: #CBAF68;
  z-index: 1;
}
#everything #side-panel form #date-input-div svg {
  vertical-align: top;
  fill: #CBAF68;
}
#everything #side-panel form #date-input-div #today {
  border-radius: 0.2rem;
  height: 2em;
  background-color: #CBAF68;
  color: white;
  font-size: 1rem;
  line-height: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 0.75em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  #everything #side-panel form #date-input-div #today {
    transition: none;
  }
}
#everything #side-panel form #date-input-div #today:active {
  filter: brightness(95%);
}
#everything #side-panel form #date-input-div #today:hover {
  background-color: #b79e5e;
  border-color: #b79e5e;
}
#everything #side-panel form #terrain {
  text-align: left;
}
#everything #side-panel form .indented {
  margin-left: 2em;
}
#everything #main {
  overflow-y: scroll;
  width: calc(100vw - 23rem);
  min-width: 65%;
}
#everything #main header {
  position: sticky;
  left: 0;
  justify-content: space-between;
}
#everything #main header nav {
  display: flex;
}
#everything #main header menu {
  font-size: 0.9rem;
  font-family: "Scaly Sans Caps", "Scaly Sans", arial, helvetica, sans-serif;
  display: flex;
  gap: 0.7em;
  margin-right: 1.2em;
}
#everything #main header menu li {
  transition: width 1s;
  border-radius: 0.95em;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 1.9em;
  padding: 0.3em;
  gap: 0.4em;
}
#everything #main header menu li h2 {
  display: none;
  width: max-content;
  font-size: inherit;
}
#everything #main header menu li:hover {
  color: white;
  background-color: #58170D;
  padding-right: 0.6em;
}
#everything #main header menu li:hover h2 {
  display: unset;
}
#everything #main header menu .img-only {
  height: 1.7em;
  padding: 0;
  border: none;
}
#everything #main #ingredient-bag table {
  width: 100%;
  border-collapse: separate;
  text-align: left;
}
#everything #main #ingredient-bag table td, #everything #main #ingredient-bag table th {
  vertical-align: baseline;
  max-width: 30em;
  padding: 0.5em;
}
#everything #main #ingredient-bag table input[type=checkbox] {
  margin-top: 0.15em;
}
#everything #main #ingredient-bag table thead {
  position: sticky;
  top: 0;
  background-color: #fcf9f2;
  text-wrap: nowrap;
  z-index: 1;
}
#everything #main #ingredient-bag table thead th {
  border-bottom: #dfcea1 solid 0.08rem;
}
#everything #main #ingredient-bag #ingredient-bag-table thead th {
  cursor: pointer;
}
#everything #main #ingredient-bag #ingredient-bag-table thead th div {
  padding-right: 1.3em;
  position: relative;
}
#everything #main #ingredient-bag #ingredient-bag-table thead th svg {
  position: absolute;
  height: 0.4em;
  visibility: visible;
  transform: translate(0%, -50%);
  top: 50%;
  right: 0;
}
#everything #main #ingredient-bag #ingredient-bag-table thead .unsorted svg {
  visibility: hidden;
}
#everything #main #ingredient-bag #ingredient-bag-table thead .descending svg {
  transform: rotate(180deg) translate(0%, 50%);
}
#everything #main #ingredient-bag #ingredient-bag-table .number-hd {
  text-align: center;
}
#everything #main #ingredient-bag #ingredient-bag-table .number-td {
  text-align: center;
  padding-right: 1.8em;
}
#everything #main #ingredient-bag #ingredient-bag-table .even {
  background-color: #f0e4cb;
}
#everything #main #ingredient-bag #ingredient-bag-table tr {
  background-color: #fcf9f2;
}
#everything #main #ingredient-bag #ingredient-bag-table .checked {
  background-color: #E0E5C0;
  background-color: #d2d9ae;
  background-color: #d2d9ae;
  background-color: #d9dfb7;
  box-shadow: 0 0 0.08rem 0.08rem rgb(186, 195, 127);
  /* box-shadow: 0 0 0em 0.08rem rgb(186 195 127); */
  z-index: 0;
  position: relative;
  border: #bac37f solid 0.08rem;
}
#everything #main #ingredient-bag #filter-table {
  background-color: #dfcea1;
  border-spacing: 0.08em 0;
  border-bottom: #dfcea1 solid 0.08rem;
}
#everything #main #ingredient-bag #filter-table tbody {
  background-color: #f0e4cb;
}
#everything #main #ingredient-bag #filter-table td {
  cursor: pointer;
}
#everything #main #ingredient-bag #filter-table .selected {
  background-color: #dfcea1;
}

/*# sourceMappingURL=style.css.map */
