@font-face {
  font-family: "Bookinsanity";
  src: url("../../fonts/Bookinsanity/Bookinsanity.otf");
  src: url("../../fonts/Bookinsanity/Bookinsanity.otf") format("opentype");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bookinsanity";
  src: url("../../fonts/Bookinsanity/Bookinsanity Bold Italic.otf");
  src: url("../../fonts/Bookinsanity/Bookinsanity Bold Italic.otf") format("opentype");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Bookinsanity";
  src: url("../../fonts/Bookinsanity/Bookinsanity Bold.otf");
  src: url("../../fonts/Bookinsanity/Bookinsanity Bold.otf") format("opentype");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bookinsanity";
  src: url("../../fonts/Bookinsanity/Bookinsanity Italic.otf");
  src: url("../../fonts/Bookinsanity/Bookinsanity Italic.otf") format("opentype");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Mr Eaves Caps";
  src: url("../../fonts/Mr Eaves/Mr Eaves Small Caps.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Mr%20Eaves/Mr%20Eaves%20Small%20Caps.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: url("../../fonts/Scaly Sans/Scaly Sans.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: url("../../fonts/Scaly Sans/Scaly Sans Bold Italic.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Scaly Sans";
  src: url("../../fonts/Scaly Sans/Scaly Sans Bold.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Scaly Sans";
  src: url("../../fonts/Scaly Sans/Scaly Sans Italic.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: url("../../fonts/Scaly Sans Caps/Scaly Sans Caps.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold Italic.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold%20Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Bold.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Scaly Sans Caps";
  src: url("../../fonts/Scaly Sans Caps/Scaly Sans Caps Italic.otf");
  src: url("https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
:root {
  font-size: 16px;
}

body {
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  background-color: #fcf9f2;
  font-family: "Scaly Sans", arial, helvetica, sans-serif;
  height: 100vh;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, th, menu, input[type=submit] {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  font-family: inherit;
}

svg {
  height: 100%;
  width: fit-content;
}

button, input[type=submit] {
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  border-width: 0;
  border-style: unset;
  border-color: unset;
  border-image: unset;
  background-color: unset;
}

table {
  border-spacing: 0;
}

.hidden {
  display: none;
}

#everything {
  display: flex;
  height: 100%;
}
#everything header {
  font-size: 1.3rem;
  height: 1.7em;
  display: flex;
  align-items: center;
  font-family: "Scaly Sans Caps", "Scaly Sans", arial, helvetica, sans-serif;
  border-bottom: #CBAF68 solid 0.08rem;
}
#everything header h1 {
  width: max-content;
  font-size: inherit;
  padding: 0 1.2em;
  line-height: 1.6em;
  color: #58170D;
  cursor: pointer;
}
#everything header .selected {
  border-bottom: #CBAF68 solid 0.1em;
  font-weight: bold;
}
#everything #side-panel {
  width: 25%;
  height: 100%;
  background-color: #FAF6EC;
  border-right: #CBAF68 solid 0.08rem;
}
#everything #side-panel header {
  justify-content: left;
}
#everything #side-panel form select, #everything #side-panel form input {
  font-family: unset;
  font-size: unset;
}
#everything #side-panel form label {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
}
#everything #main {
  width: 75%;
}
#everything #main header {
  background-color: #FAF6EC;
  justify-content: space-between;
}
#everything #main header nav {
  display: flex;
}
#everything #main header menu {
  font-family: "Scaly Sans", arial, helvetica, sans-serif;
  display: flex;
  gap: 1em;
  margin-right: 1em;
}
#everything #main header menu li {
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 1.2em;
  padding: 0.3em;
  gap: 0.3em;
  border: #CBAF68 solid 0.1rem;
  border-radius: 0.2rem;
}
#everything #main header menu li h2 {
  width: max-content;
  font-size: inherit;
}
#everything #main #ingredient-bag td {
  max-width: 30em;
}

/*# sourceMappingURL=style.css.map */
